@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root{
  --font-Josefin--:"Josefin Sans";
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container-salgados-wrapper{
  width: 100%;
  overflow: hidden;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content:center;
  color: #fff;
  font-family: var(--font-Josefin--);
  position: relative;
  background-image: linear-gradient(to left,#003CB3,#6699FF,#003CB3);
}

.container-salgados-wrapper .titulo-salgado{
  font-size:25px;
  position: absolute;
  top: .7rem;
  left: 1rem;
}

.titulo-salgado h1::after {
  content:"";
  position: absolute;
  width: 7rem;
  bottom:-.1rem;
  left: 0;
  height: .2rem;
  background-color: #fff;
}

.container-salgados{
  display: flex;
  overflow-y:hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 70%;
  gap: 1rem;
}

.container-salgados::-webkit-scrollbar{
  display: none;
}

.container-salgados .card-salgado{
  width: 20rem;
  border: solid 2px #ffffff;
  height: 20rem;
  gap: .5rem;
  display: flex;
  position: relative;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align: center;
  border-radius:.4rem;
  flex: none;
}

.card-salgado img{
  width: 10rem;
}

.card-salgado .valor-produto{
  color: #ebebeb;
  font-size:30px;
  position: absolute;
  bottom:0;
}

.seta-carrossel-salgados{
  position: absolute;
  top: 13rem;
  display: flex;
  width: 100%;
  justify-content:space-between;
}

.seta-carrossel-salgados button{
  width: 5rem;
  position: relative;
  background-color: transparent;
  border:none;
  cursor:pointer;
  outline: none;
}

.seta-carrossel-salgados button img{
  width: 100%;
  object-fit:cover;
}

.seta-carrossel-salgados .btn-left{
  transform: rotateZ(180deg);
}
@media(max-width:470px){
  .container-salgados-wrapper .titulo-salgado{
    font-size: 20px;
  }
  .container-salgados{
    width: 100%;
  }
  .container-salgados .card-salgado{
    width: 100%;
  }
  .seta-carrossel-salgados{
    bottom: -10rem;
  }
}